.kontakt {

    text-align: center;

    h2 {
        @include container-h2-styles ($white);
    }

    &_text {
        @include container-p-styles ($white);
        width: 80%;

        @include media-breakpoint-down (xs) {
            width: 100%;
            line-height: $line-height-M;
        }
    }
}